
server:
  port: 0

spring:
  application:
    name: user-service

eureka:
  instance:
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
#    이렇게 해야지 포트번호를 0으로 할때 여러개의 인스턴스가 유레카 서버에서 확인할 수 있음
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://127.0.0.1:8761/eureka
# 유레카 서버에 자신의 위치를 등록